body{
    background-color:  #e6dfcc;
    width: 100%;
    height: 100%;
}

.logo{
    display: flex;
    justify-content: center;
}

.navul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81.9em;
    height: 50px;
    gap: 100px;; 
    list-style:none;
    background-color: #c8bfa5;
}

.navli{
    text-decoration: none;
    color: inherit;
}

.navlink{
    text-decoration: none;
    color: #8c52ff;
    font-size: 1.2rem;
    font-family: cursive;
}

.search{
 
   
    
}

